# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.gradle/
local.properties
GeneratedPluginRegistrant.java
*.g.dart
*.freezed.dart
ios/Flutter/flutter_export_environment.sh
android/local.properties
android/key.properties
